DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1
STATIC_ROOT=
MEDIA_ROOT=
PAYME_CHECKOUT_URL=http://127.0.0.1:8000/checkout/
PAYME_MERCHANT_ID=134b831a2bb876247905a399
PAYME_USERNAME='Paycom'
PAYME_PAROL='test_key_36s_r9zfZysY23pTe128WA'